version: '3.5'

services:
  api:
    image: api-image
    hostname: api
    build: .
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '2GB'
    ports:
      - "8080:8080"
    restart: always
  db:
    image: postgres:latest

    environment:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '1GB'
    ports:
      - "6051:5432"
    restart: always
  nginx: # Load Balancer
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    ports:
      - "9999:9999"
    